.vscode
LA_trees_processing/test_q_dist_pt_bpix21_2t
LA_trees_processing/test_standard_pt_bpix21_2t
LA_trees_processing/Efield_output/*
LA_trees_processing/data_mc_plots/*
LA_trees_processing/LorentzTrees/*
LA_trees_processing/LA_from_Ntpl_output/*
LA_trees_processing/templates_dir/*
LA_trees_processing/make_ntuple_v1b
LA_trees_processing/simulated_clusters/*
LA_trees_processing/make_ntuple_output/*
.DS_Store
LA_calibration_trees*
calculateEfieldFromNtpl_template_2024b_prob
pixelav_simulation/batch/*out
pixelav_simulation/scrtmp/*
tcad_file_processing/dot1*/*
tcad_file_processing/test_diode*/
tcad_file_processing/gen_efield
tpl-env
finished